<h1>About</h1>
<p> This is a rails test site for IT 231.</p><br>
<p>To build this site we used the following resources:</p><br>
<ul>
    <li><a href='https://www.railstutorial.org/'>Rails Tutorial</a></li>
    <li><a href='http://guides.rubyonrails.org/'>Ruby on Rails Guide</a></li>
    <li><a href='https://pragprog.com/book/rails5/agile-web-development-with-rails-5'>Agile Web Development</a></li>
    <li><a href='https://www.w3schools.com/'>W3Schools</a></li>
</ul>
