<div class="w3-container">
    <h1>Welcome to the Home Page!</h1>
    <p>Go to:</p>
    <ul class="w3-ul">
        <li><a href='/my_pages/about'>About</a></li>
        <li><a href='/my_pages/help'>Help</a></li>
        <li><a href='/users'>Users</a></li>
        <li><a href='/microposts'>Microposts</a></li>
    </ul>
</div>